PORT=7777
HOST=localhost
APP_PREFIX=/api
APP_NAME=nestjs_ecommerce
NODE_ENV=development

APP_URL=http://${HOST}:${PORT}${APP_PREFIX}
FE_URL=

JWT_SECRET=your_jwt_secret_here

# PostgreSQL connection string template
DATABASE_URL="postgresql://user_nestjs_ecommerce:password_nestjs_ecommerce@localhost:5432/db_nestjs_ecommerce?schema=public"
